html,
body,
#map-id {
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend .low {
  color: #ec8a2e;
}

.legend .empty {
  color: #a0353a;
}

.legend .coming-soon {
  color: #f4ba48;
}

.legend .healthy {
  color: #1b904f;
}

.legend .out-of-order {
  color: #007dff;
}
