html,
body,
#map-id {
  height: 100%;
  padding: 0;
  margin: 0;
}

.legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 10px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.legend .Alternative {
  color: #a0353a;
}

.legend .Ballads_or_Romantic {
  color: #f7b32c;
}

.legend .Blues {
  color: #1b904f;
}

.legend .Country {
  color: #007dff;
}

.legend .Folk {
  color: #ae00ff;
}

.legend .HipHop_or_Rap {
  color: #8d0000;
}

.legend .Jazz {
  color: #f64747;
}

.legend .Latin {
  color: #e4dca7;
}

.legend .Metal {
  color: #003874;
}

.legend .New_Age {
  color: #096900;
}

.legend .Pop {
  color: #2e4b4c;
}

.legend .R_and_B {
  color: #5f0138;
}

.legend .Reggae {
  color: #acacac;
}

.legend .Religious {
  color: #fe50d6;
}

.legend .Rock {
  color: #5ca8f9;
}

.legend .World {
  color: #45e400;
}

.legend .Other {
  color: #444444;
}