<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>Test Dashboard</title>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <!-- D3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- MomentJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <!-- Leaflet JavaScript code -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!-- polyfill.io is the library for using newer JavaScript features (such as Object.assign) in older browers. -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

    <!-- Overlapping Marker Spiderfier NEW -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>

    <!-- Icons -->
    <script src="static/leaflet.extra-markers.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="static/leaflet.extra-markers.min.css">


</head>
<body>

    <input type="checkbox" name="" id="menu-toggle">
    <div class="overlay">
        <label for="menu-toggle"></label>
    </div>


    <div class="sidebar">
        <div class="sidebar-container">
            <div class="brand">
                <h2>
                    <img src="icon.png" alt="">
                    SHOWWW
                </h2>
            </div>



            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}" class="">
                            <span class="las la-adjust"></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('analytics') }}" class="active">
                            <span class="las la-chart-bar"></span>
                            <span>Analytics</span>
                        </a>
                    </li>
                </ul>
            </div>


        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-title-wrapper">
                <label for="menu-toggle">
                    <span class="las la-bars"></span>
                </label>
                <div class="header-title">
                    <h1>SHOWWW <small>Stuff Happening on When/Where/What</small></h1>
                    <p>Display information about your dashboard <span class="las la-chart-line"></span></p>
                </div>
            </div>

        </header>

        <main>
            <section>
                <div class="genre-select">
                    <select name="" id="">
                        <option value="">Genre</option>
                    </select>
                </div>
                <div class="price-select">
                    <select name="" id="">
                        <option value="">Price</option>
                    </select>
                </div>
                <h3 class="section-head">Overview</h3>
                <div class="analytics">

                    <div class="analytic">
                        <div class="analytic-icon">
                            <span class="las la-ticket-alt"></span>
                        </div>
                        <div class="analytic-info">
                            <h4>Event Name</h4>
                            <h1>...</h1>
                        </div>
                    </div>

                    <div class="analytic">
                        <div class="analytic-icon">
                            <span class="las la-map-marked"></span>
                        </div>
                        <div class="analytic-info">
                            <h4>Location</h4>
                            <h1>... <small class="text-danger">...</small></h1>
                        </div>
                    </div>

                    <div class="analytic">
                        <div class="analytic-icon">
                            <span class="las la-music"></span>
                        </div>
                        <div class="analytic-info">
                            <h4>Genre</h4>
                            <h1>... <small class="text-success">...</small></h1>
                        </div>
                    </div>

                    <div class="analytic">
                        <div class="analytic-icon">
                            <span class="las la-calendar"></span>
                        </div>
                        <div class="analytic-info">
                            <h4>Start Date</h4>
                            <h1>...</h1>
                        </div>
                    </div>
                    <div class="analytic">
                        <div class="analytic-icon">
                            <span class="las la-dollar-sign"></span>
                        </div>
                        <div class="analytic-info">
                            <h4>Min/Max Price</h4>
                            <h1>...</h1>
                        </div>
                    </div>

                    <div class="analytic">
                        <div class="analytic-icon">
                            <span class="las la-at"></span>
                        </div>
                        <div class="analytic-info">
                            <h4>Event URL</h4>
                            <h1>... <small class="text-danger">...</small></h1>
                        </div>
                    </div>

                    <div class="analytic">
                        <div class="analytic-icon">
                            <span class="las la-image"></span>
                        </div>
                        <div class="analytic-info">
                            <h4>Image</h4>
                            <h1>... <small class="text-success">...</small></h1>
                        </div>
                    </div>

                    <div class="analytic">
                        <div class="analytic-icon">
                            <span class="las la-chair"></span>
                        </div>
                        <div class="analytic-info">
                            <h4>Seat Map</h4>
                            <h1>...</h1>
                        </div>
                    </div>
                </div>
            </section>
            


            <section>
                
                    <div class="block-grid">
                        <div class="revenue-card">
                            <h3 class="section-head">Upcoming Events</h3>
                            <div class="rev-content">
                                <div class="rev-sum">
                                    <ul>
                                    <li>thing</li>
                                    <li>thing</li>
                                    <li>thing</li>
                                    <li>thing</li>
                                    <li>thing</li>
                                    </ul>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="chart-card">
                            <h3 class="section-head">Average Price by Genre</h3>
                            <div class="graph-content" id="chart-container" width="100%" height="500px"></div>
                            <script src="https://fastly.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
                        </div>
                    </div>
            </section>

        </main>

    </div>
    <script>
        var dom = document.getElementById('chart-container');
        var myChart = echarts.init(dom, null, {
        renderer: 'canvas',
        useDirtyRect: false
        });
        var app = {};

        var option;

        option = {
        xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
            data: [120, 200, 150, 80, 70, 110, 130],
            type: 'bar'
            }
        ]
        };

        if (option && typeof option === 'object') {
        myChart.setOption(option);
        }

        window.addEventListener('resize', myChart.resize);
    </script>


</body>
</html>