<table class="table table-bordered table-hover table-condensed">
<thead><tr><th title="Field #1">event_name</th>
<th title="Field #2">startDate</th>
<th title="Field #3">venue_name</th>
</tr></thead>
<tbody><tr>
<td>Spotlight: G Flip</td>
<td>Mon, 26 Jun 2023 00:00:00 GMT</td>
<td>The GRAMMY Museum</td>
</tr>
<tr>
<td>Grandson &amp; K.Flay Present: I Love You, I&#39;m Trying Tour</td>
<td>Tue, 27 Jun 2023 00:00:00 GMT</td>
<td>The Wiltern</td>
</tr>
<tr>
<td>Catie Turner</td>
<td>Tue, 27 Jun 2023 00:00:00 GMT</td>
<td>Troubadour</td>
</tr>
<tr>
<td>TARJA:  Living the Dream Tour</td>
<td>Tue, 27 Jun 2023 00:00:00 GMT</td>
<td>The Belasco</td>
</tr>
<tr>
<td>Moorea Masa &amp; The Mood</td>
<td>Tue, 27 Jun 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>New Hope Club</td>
<td>Tue, 27 Jun 2023 00:00:00 GMT</td>
<td>Constellation Room</td>
</tr>
<tr>
<td>An Evening With Ivan Neville</td>
<td>Tue, 27 Jun 2023 00:00:00 GMT</td>
<td>The GRAMMY Museum</td>
</tr>
<tr>
<td>Sean Healy Presents: Deante Hitchcock with Kwame Adu, and DYVE</td>
<td>Tue, 27 Jun 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>Bonzie</td>
<td>Wed, 28 Jun 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Tenille Arts</td>
<td>Wed, 28 Jun 2023 00:00:00 GMT</td>
<td>Troubadour</td>
</tr>
<tr>
<td>Bashfortheworld</td>
<td>Wed, 28 Jun 2023 00:00:00 GMT</td>
<td>Constellation Room</td>
</tr>
<tr>
<td>Tchotchke with The Umbrellas, and Uni Boys</td>
<td>Wed, 28 Jun 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>Yella Beezy</td>
<td>Wed, 28 Jun 2023 00:00:00 GMT</td>
<td>The Observatory</td>
</tr>
<tr>
<td>Jack &amp; Jack with Sammy Wilk</td>
<td>Wed, 28 Jun 2023 00:00:00 GMT</td>
<td>The Peppermint Club</td>
</tr>
<tr>
<td>Lyn Lapid</td>
<td>Wed, 28 Jun 2023 00:00:00 GMT</td>
<td>Roxy Theatre-CA</td>
</tr>
<tr>
<td>Jonathan McReynolds</td>
<td>Wed, 28 Jun 2023 00:00:00 GMT</td>
<td>The Theatre at Ace Hotel</td>
</tr>
<tr>
<td>Logic: The College Park Tour with special guest Juicy J</td>
<td>Wed, 28 Jun 2023 00:00:00 GMT</td>
<td>YouTube Theater</td>
</tr>
<tr>
<td>D Savage</td>
<td>Thu, 29 Jun 2023 00:00:00 GMT</td>
<td>The Observatory</td>
</tr>
<tr>
<td>Rich The Kid</td>
<td>Thu, 29 Jun 2023 00:00:00 GMT</td>
<td>House of Blues Anaheim</td>
</tr>
<tr>
<td>Dylan Conrique with OSTON</td>
<td>Thu, 29 Jun 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>Desert Daze Presents: Protomartyr</td>
<td>Thu, 29 Jun 2023 00:00:00 GMT</td>
<td>Constellation Room</td>
</tr>
<tr>
<td>Jack &amp; Jack with Sammy Wilk</td>
<td>Thu, 29 Jun 2023 00:00:00 GMT</td>
<td>The Peppermint Club</td>
</tr>
<tr>
<td>The Backyard By Stater Bros Presents Harlis Sweetwater</td>
<td>Thu, 29 Jun 2023 00:00:00 GMT</td>
<td>Toyota Arena</td>
</tr>
<tr>
<td>New Kids on the Block</td>
<td>Thu, 29 Jun 2023 00:00:00 GMT</td>
<td>Yaamava&#39; Resort &amp; Casino at San Manuel</td>
</tr>
<tr>
<td>Young Nudy</td>
<td>Thu, 29 Jun 2023 00:00:00 GMT</td>
<td>The Novo by Microsoft</td>
</tr>
<tr>
<td>Noche de Verano Sin Ti: Bad Bunny Dance Party</td>
<td>Thu, 29 Jun 2023 00:00:00 GMT</td>
<td>Roxy Theatre-CA</td>
</tr>
<tr>
<td>Copper Blues Oxnard Latin Night</td>
<td>Thu, 29 Jun 2023 00:00:00 GMT</td>
<td>Copper Blues Oxnard Resturant</td>
</tr>
<tr>
<td>THICK</td>
<td>Thu, 29 Jun 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Be In A Band or Die: Tender Misfit</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Brittany and the B Sides</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Copper Blues Oxnard Resturant</td>
</tr>
<tr>
<td>The Long Run</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Libbey Bowl</td>
</tr>
<tr>
<td>Louis Tomlinson</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Hollywood Bowl</td>
</tr>
<tr>
<td>Punk Rock Karaoke</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Constellation Room</td>
</tr>
<tr>
<td>Vs Self, lagrimas, Urns &amp; Argyles and CENÖBITE at THE ECHO -- SOLD OUT</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>Bebe Rexha - Best F&#39;n Night Of My Life</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>The Wiltern</td>
</tr>
<tr>
<td>D Savage</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>The Observatory</td>
</tr>
<tr>
<td>Cheers to the Weekend w/ Redneck Rodeo &amp; American Mile</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>The Biergarten at Old World HB</td>
</tr>
<tr>
<td>New Kids on the Block</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Yaamava&#39; Resort &amp; Casino at San Manuel</td>
</tr>
<tr>
<td>Ginger Root</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>The Novo by Microsoft</td>
</tr>
<tr>
<td>Randy Houser</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Vina Robles Amphitheatre</td>
</tr>
<tr>
<td>Juelz</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Teragram Ballroom</td>
</tr>
<tr>
<td>Psycho Presents: Emperor w/ Mäleficentt</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>YouTube Theater</td>
</tr>
<tr>
<td>Paul Thorn</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Pappy and Harriets Pioneertown Palace</td>
</tr>
<tr>
<td>Jesse Malin</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Roxy Theatre-CA</td>
</tr>
<tr>
<td>Club 90s Presents Fist Pump Fest (18+)</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>The Parish at House of Blues Anaheim</td>
</tr>
<tr>
<td>Emo Night Brooklyn feat. special DJ Xowie Jones - 21+</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Echoplex</td>
</tr>
<tr>
<td>Flamingo Friday Pool Party</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Morongo Casino Resort and Spa</td>
</tr>
<tr>
<td>DJ Honey</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>Copper Blues Oxnard Resturant</td>
</tr>
<tr>
<td>Grinch Rave: Christmas In June (18+ Only)</td>
<td>Fri, 30 Jun 2023 00:00:00 GMT</td>
<td>The Regent Theater</td>
</tr>
<tr>
<td>SVDDEN DEATH presents VOYD / 18+ </td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Torch at LA Coliseum</td>
</tr>
<tr>
<td>Stephen Marley - Sister Nancy - Fortunate Youth - Arise Roots</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Pacific Amphitheatre</td>
</tr>
<tr>
<td>Incendiary</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>1720</td>
</tr>
<tr>
<td>Red Store Bums w/Special Guests: Out Of Control Army, Raskahuele +More</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Regent Theater</td>
</tr>
<tr>
<td>Pierce The Veil &amp; The Used: Creative Control Tour</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>FivePoint Amphitheatre</td>
</tr>
<tr>
<td>Holdfast</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Juniper Honey plays OC Tavern!</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>OC Tavern</td>
</tr>
<tr>
<td>Psycho Presents: Emperor</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>House of Blues Anaheim</td>
</tr>
<tr>
<td>Breaking Sound 07/01/2023 At The Peppermint Club</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Peppermint Club</td>
</tr>
<tr>
<td>Bebe Rexha - Best F&#39;n Night Of My Life</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Wiltern</td>
</tr>
<tr>
<td>Los Gemelos de Sinaloa - Bueno y El Malo Tour 2023</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Observatory</td>
</tr>
<tr>
<td>Rockstallion</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Biergarten at Old World HB</td>
</tr>
<tr>
<td>Cracker</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>Pappy and Harriets Pioneertown Palace</td>
</tr>
<tr>
<td>YYNOT</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Canyon-Montclair</td>
</tr>
<tr>
<td>LustSickPuppy with JOHNNASCUS, and Demi Yo Ko</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>Jesse Malin</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>Constellation Room</td>
</tr>
<tr>
<td>Senpai Squad presents Fire &amp; Ice 2023</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Regent Theater</td>
</tr>
<tr>
<td>2 DAY: Senpai Squad presents Fire &amp; Ice 2023</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Regent Theater</td>
</tr>
<tr>
<td>2 DAY: Senpai Squad presents Fire &amp; Ice 2023</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Belasco</td>
</tr>
<tr>
<td>Senpai Squad presents Fire &amp; Ice 2023</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Belasco</td>
</tr>
<tr>
<td>Senpai Squad presents Fire &amp; Ice 2023- MOVED TO REGENT THEATER 7/2/23!</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>The Belasco</td>
</tr>
<tr>
<td>PKMN Rave with CAM GIRL and Matt Bennett</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>Echoplex</td>
</tr>
<tr>
<td>Emo Night Brooklyn</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>Ventura Music Hall</td>
</tr>
<tr>
<td>Club 90s Vampire Ball: Olivia Rodrigo Night</td>
<td>Sat, 01 Jul 2023 00:00:00 GMT</td>
<td>Teragram Ballroom</td>
</tr>
<tr>
<td>LA Winds Presents Concert 4:Traditional pre-July 4 concert</td>
<td>Sun, 02 Jul 2023 00:00:00 GMT</td>
<td>Scherr Forum- B of A Performing Arts Center, Thousand Oaks</td>
</tr>
<tr>
<td>Fall Out Boy - So Much For (Tour) Dust</td>
<td>Sun, 02 Jul 2023 00:00:00 GMT</td>
<td>BMO Stadium</td>
</tr>
<tr>
<td>The MJLS Live</td>
<td>Sun, 02 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Juan Wauters with Cola Boyy, and Jimmy Whispers</td>
<td>Sun, 02 Jul 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>Wavves &amp; Cloud Nothings</td>
<td>Sun, 02 Jul 2023 00:00:00 GMT</td>
<td>The Observatory</td>
</tr>
<tr>
<td>Beats &amp; Legacy - Honoring 50 Years of Hip Hop Producers</td>
<td>Sun, 02 Jul 2023 00:00:00 GMT</td>
<td>The Peppermint Club</td>
</tr>
<tr>
<td>Nascar Aloe</td>
<td>Sun, 02 Jul 2023 00:00:00 GMT</td>
<td>1720</td>
</tr>
<tr>
<td>Fall Out Boy - So Much For (Tour) Dust</td>
<td>Mon, 03 Jul 2023 00:00:00 GMT</td>
<td>BMO Stadium</td>
</tr>
<tr>
<td>Wavves &amp; Cloud Nothings with Special Guest: Ultra Q</td>
<td>Mon, 03 Jul 2023 00:00:00 GMT</td>
<td>The Regent Theater</td>
</tr>
<tr>
<td>Redacted Residency: Foot, Nishwakie, Daryl Salad and Dan Durant</td>
<td>Mon, 03 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Toad the Wet Sprocket</td>
<td>Wed, 05 Jul 2023 00:00:00 GMT</td>
<td>Libbey Bowl</td>
</tr>
<tr>
<td>The Backyard by Stater Bros Presents Rockstars of Tomorrow</td>
<td>Wed, 05 Jul 2023 00:00:00 GMT</td>
<td>Toyota Arena</td>
</tr>
<tr>
<td>The Beach Boys</td>
<td>Wed, 05 Jul 2023 00:00:00 GMT</td>
<td>Vina Robles Amphitheatre</td>
</tr>
<tr>
<td>IRESS with Dog Smoke &amp; Untitled Halo</td>
<td>Wed, 05 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>CANCELED - Lojay - Gangster Romantic</td>
<td>Thu, 06 Jul 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>Gavin Turek with special guests Tolliver &amp; Val Fleury</td>
<td>Thu, 06 Jul 2023 00:00:00 GMT</td>
<td>The Peppermint Club</td>
</tr>
<tr>
<td>Aqua</td>
<td>Thu, 06 Jul 2023 00:00:00 GMT</td>
<td>The Belasco</td>
</tr>
<tr>
<td>Lil Ugly Mane</td>
<td>Thu, 06 Jul 2023 00:00:00 GMT</td>
<td>1720</td>
</tr>
<tr>
<td>Lyle Lovett</td>
<td>Thu, 06 Jul 2023 00:00:00 GMT</td>
<td>Saban Theatre</td>
</tr>
<tr>
<td>Daniel Donato w/ Cris Jacobs</td>
<td>Thu, 06 Jul 2023 00:00:00 GMT</td>
<td>Ventura Music Hall</td>
</tr>
<tr>
<td>Emo Night Brooklyn (18+)</td>
<td>Thu, 06 Jul 2023 00:00:00 GMT</td>
<td>The Observatory</td>
</tr>
<tr>
<td>Flipper</td>
<td>Thu, 06 Jul 2023 00:00:00 GMT</td>
<td>Teragram Ballroom</td>
</tr>
<tr>
<td>Island Flava OC 2023</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>City National Grove of Anaheim</td>
</tr>
<tr>
<td>Breakthru Entertainment</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>The Parish at House of Blues Anaheim</td>
</tr>
<tr>
<td>Lyle Lovett</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>Libbey Bowl</td>
</tr>
<tr>
<td>Charged Noise Presents: EXCEL</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>Teragram Ballroom</td>
</tr>
<tr>
<td>Wallice</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>Constellation Room</td>
</tr>
<tr>
<td>Negative Approach &amp; The Dwarves</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>The Observatory</td>
</tr>
<tr>
<td>Damien Escobar</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>Hyatt Regency Newport Beach</td>
</tr>
<tr>
<td>Flashpants Fridays</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>The Biergarten at Old World HB</td>
</tr>
<tr>
<td>Banda Machos</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>Spotlight 29 Casino</td>
</tr>
<tr>
<td>Jasper Tygner</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>70&#39;s Soul Jam</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>YouTube Theater</td>
</tr>
<tr>
<td>Ruel</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>Shrine Expo Hall</td>
</tr>
<tr>
<td>Club 90s Presents: 2000&#39;s Night - 18+</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>Echoplex</td>
</tr>
<tr>
<td>Feels So Close: An EDM Golden Era Party (18+)</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>House of Blues Anaheim</td>
</tr>
<tr>
<td>Flamingo Friday Pool Party</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>Morongo Casino Resort and Spa</td>
</tr>
<tr>
<td>Sham1016 Presents The Second Annual Set Gala</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Peso Pluma Night: A Club Night Of Peso Pluma Canciones &amp; Corridos(18+)</td>
<td>Fri, 07 Jul 2023 00:00:00 GMT</td>
<td>The Regent Theater</td>
</tr>
<tr>
<td>FREE! 80&#39;s Retro: When in Rome, Flock of Seagulls, Dramarama &amp; more</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Pershing Square</td>
</tr>
<tr>
<td>The Green - Hirie - Mike Love - Jesse Royal - Common Sense</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>The Pacific Amphitheatre</td>
</tr>
<tr>
<td>FREESTYLE FESTIVAL w/ STEVIE B, LISA LISA, EXPOSÉ, TAYLOR DAYNE &amp; MORE</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Greek Theatre</td>
</tr>
<tr>
<td>Mystery Skulls</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Teragram Ballroom</td>
</tr>
<tr>
<td>Life Imitates Art Ball &amp; Honors: Dashaun Wesley, Miss Shalae and more</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>The Belasco</td>
</tr>
<tr>
<td>Alexs Bar Presents: Throw Rag + Supersuckers</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>The Observatory</td>
</tr>
<tr>
<td>Drum Corps At The Rose Bowl</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Rose Bowl</td>
</tr>
<tr>
<td>Pine Mountain Logs with RETROFIT</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>The Biergarten at Old World HB</td>
</tr>
<tr>
<td>The Biggest Opm Summer Fest Part II</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>City National Grove of Anaheim</td>
</tr>
<tr>
<td>Late Night Drive Home - Opening A Door Tour - - SOLD OUT</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>TLC, Shaggy, En Vogue, Sean Kingston</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>FivePoint Amphitheatre</td>
</tr>
<tr>
<td>Breaking Sound 07/08/2023 At The Peppermint Club</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>The Peppermint Club</td>
</tr>
<tr>
<td>Cosmic Bloom &amp; Altangeles Presents: The Gromble</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Constellation Room</td>
</tr>
<tr>
<td>30th Year Anniversary Of Saigon Entertainment</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Pechanga Resort Casino</td>
</tr>
<tr>
<td>The Vixens &amp; Foxes Present: DRIP</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>The Parish at House of Blues Anaheim</td>
</tr>
<tr>
<td>Jake Shimabukuro</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Saban Theatre</td>
</tr>
<tr>
<td>Danny Seraphine</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>The Canyon-Montclair</td>
</tr>
<tr>
<td>Happy Together Tour</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Spotlight 29 Casino</td>
</tr>
<tr>
<td>Neil Young</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Vina Robles Amphitheatre</td>
</tr>
<tr>
<td>Gimme Gimme Disco (18+)</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>House of Blues Anaheim</td>
</tr>
<tr>
<td>PESO PLUMA Con Invitado Especial ALEMAN</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Acrisure Arena at Greater Palm Springs</td>
</tr>
<tr>
<td>Shahram Shabpareh</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>YouTube Theater</td>
</tr>
<tr>
<td>ELHAE</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Troubadour</td>
</tr>
<tr>
<td>Wallice</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>El Rey Theatre - Los Angeles</td>
</tr>
<tr>
<td>The Rembrandts</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Canyon Club-CA</td>
</tr>
<tr>
<td>The Buttertones</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Ventura Music Hall</td>
</tr>
<tr>
<td>Echo Flex: A 2000s Hip Hop Party - 21+</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Echoplex</td>
</tr>
<tr>
<td>Cool is dead, let&#39;s just have fun! Shrek Themed Dance Rave (18+)</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>Riverside Municipal Auditorium</td>
</tr>
<tr>
<td>Throwback Karaoke</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Queer Techno Night - 21+ Only</td>
<td>Sat, 08 Jul 2023 00:00:00 GMT</td>
<td>The Regent Theater</td>
</tr>
<tr>
<td>ABRA, bbymutha, Alemeda, Shy Lennox and more</td>
<td>Sun, 09 Jul 2023 00:00:00 GMT</td>
<td>The Belasco</td>
</tr>
<tr>
<td>The Green</td>
<td>Sun, 09 Jul 2023 00:00:00 GMT</td>
<td>Ventura Music Hall</td>
</tr>
<tr>
<td>Late Night Drive Home: Opening A Door Tour</td>
<td>Sun, 09 Jul 2023 00:00:00 GMT</td>
<td>Constellation Room</td>
</tr>
<tr>
<td>Asterism</td>
<td>Sun, 09 Jul 2023 00:00:00 GMT</td>
<td>The Observatory</td>
</tr>
<tr>
<td>IN YOUR POCKET PRESENTS: Glixen, Soft Blue Shimmer, Kraus &amp;Venus Hides</td>
<td>Sun, 09 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>CANCELED - Coot Corleone with Lambo4oe</td>
<td>Sun, 09 Jul 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>Happy Together Tour</td>
<td>Sun, 09 Jul 2023 00:00:00 GMT</td>
<td>Saban Theatre</td>
</tr>
<tr>
<td>Remember Sports with Goon</td>
<td>Mon, 10 Jul 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>Arrows In Action</td>
<td>Mon, 10 Jul 2023 00:00:00 GMT</td>
<td>Roxy Theatre-CA</td>
</tr>
<tr>
<td>Redacted Residency: Roger Hallaway, Sahara Grim, Britta Raci &amp; VI6NNA</td>
<td>Mon, 10 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Neil Young</td>
<td>Mon, 10 Jul 2023 00:00:00 GMT</td>
<td>Greek Theatre</td>
</tr>
<tr>
<td>Babytron</td>
<td>Tue, 11 Jul 2023 00:00:00 GMT</td>
<td>The Observatory</td>
</tr>
<tr>
<td>Belly</td>
<td>Tue, 11 Jul 2023 00:00:00 GMT</td>
<td>Echoplex</td>
</tr>
<tr>
<td>Spotlight: Ryan Beatty</td>
<td>Tue, 11 Jul 2023 00:00:00 GMT</td>
<td>The GRAMMY Museum</td>
</tr>
<tr>
<td>Charlie Puth Box Suite Event</td>
<td>Tue, 11 Jul 2023 00:00:00 GMT</td>
<td>Greek Theatre</td>
</tr>
<tr>
<td>Charlie Puth Presents The Charlie Live Experience</td>
<td>Tue, 11 Jul 2023 00:00:00 GMT</td>
<td>Greek Theatre</td>
</tr>
<tr>
<td>Glare</td>
<td>Tue, 11 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Claire Rosinkranz</td>
<td>Tue, 11 Jul 2023 00:00:00 GMT</td>
<td>El Rey Theatre - Los Angeles</td>
</tr>
<tr>
<td>Phantogram</td>
<td>Tue, 11 Jul 2023 00:00:00 GMT</td>
<td>The Bellwether</td>
</tr>
<tr>
<td>CANCELED - Shawny Binladen with Bizzy Banks</td>
<td>Wed, 12 Jul 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>Claire Rosinkranz</td>
<td>Wed, 12 Jul 2023 00:00:00 GMT</td>
<td>El Rey Theatre - Los Angeles</td>
</tr>
<tr>
<td>Return to Dust, WELL HELL, Hexengarten, Phaeic</td>
<td>Wed, 12 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Buscabulla</td>
<td>Wed, 12 Jul 2023 00:00:00 GMT</td>
<td>The Bellwether</td>
</tr>
<tr>
<td>ill peach</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Happy Together Tour</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>Libbey Bowl</td>
</tr>
<tr>
<td>The Backyard By Stater Bros Presents Saticoy</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>Toyota Arena</td>
</tr>
<tr>
<td>Charles Wesley Godwin</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>El Rey Theatre - Los Angeles</td>
</tr>
<tr>
<td>Strick</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>Roxy Theatre-CA</td>
</tr>
<tr>
<td>Maxwell</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>Yaamava&#39; Resort &amp; Casino at San Manuel</td>
</tr>
<tr>
<td>Neil Young</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>Greek Theatre</td>
</tr>
<tr>
<td>Tycho</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>The Bellwether</td>
</tr>
<tr>
<td>Nickelback</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>Morongo Casino Resort and Spa</td>
</tr>
<tr>
<td>Brit Floyd 50 Years Of Dark Side</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>YouTube Theater</td>
</tr>
<tr>
<td>Dom Kennedy At Incahoots Nightclub 18+</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>Incahoots - Fullerton</td>
</tr>
<tr>
<td>Creature Canyon</td>
<td>Thu, 13 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Nickelback: Get Rollin&#39; Tour</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>Kia Forum</td>
</tr>
<tr>
<td>Ted Park</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>The Moroccan Lounge</td>
</tr>
<tr>
<td>Whiplash w/ Full Metal Jackie presents Overkill</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>City National Grove of Anaheim</td>
</tr>
<tr>
<td>Iron Maidens</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>The Parish at House of Blues Anaheim</td>
</tr>
<tr>
<td>Bassrush presents ATLiens (18+)</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>The Observatory</td>
</tr>
<tr>
<td>Les Claypool&#39;s Fearless Flying Frog Brigade - The Summer of Green Tour</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>The Wiltern</td>
</tr>
<tr>
<td>The Nuisance with special guest Ugly Side Up</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>The Peppermint Club</td>
</tr>
<tr>
<td>Tommy Midnight</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>Constellation Room</td>
</tr>
<tr>
<td>Jason Isbell w/ 400 Unit</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>Greek Theatre-Los Angeles</td>
</tr>
<tr>
<td>Summer Salt with The Rare Occasions &amp; Addison Grace</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>The Regent Theater</td>
</tr>
<tr>
<td>Bee Gees Gold / ABBA LA - The Greatest Show That Never Was Part 2</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>The Pacific Amphitheatre</td>
</tr>
<tr>
<td>90s Prom</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>The Biergarten at Old World HB</td>
</tr>
<tr>
<td>Mac DeMarco</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>The Ford - CA</td>
</tr>
<tr>
<td>Candlebox</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>Troubadour</td>
</tr>
<tr>
<td>Spitalfield</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>Roxy Theatre-CA</td>
</tr>
<tr>
<td>The Drums w/ Cold Hart</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>Shrine Expo Hall</td>
</tr>
<tr>
<td>Lamorn with Latroit, Linney, and Molly Otto</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>The Echo</td>
</tr>
<tr>
<td>Sean Healy Presents: CupcakKe with Claude Tha Gawd</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>Echoplex</td>
</tr>
<tr>
<td>Little River Band</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>Morongo Casino Resort and Spa</td>
</tr>
<tr>
<td>Panda Bear &amp; Sonic Boom</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>The Bellwether</td>
</tr>
<tr>
<td>Don Toliver - Thee Love Sick Tour 2023</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>YouTube Theater</td>
</tr>
<tr>
<td>Devotional - The Depeche Mode Experience</td>
<td>Fri, 14 Jul 2023 00:00:00 GMT</td>
<td>OC Fair &amp; Event Center</td>
</tr>
</tbody></table>